<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>hasil latihan 1</title>

    </head>
    <body>
        <div id="container">
            <h1>hasil latihan 1</h1>

            <h4>hasil code sederhana MVC test penjumlahan</h4>
            <div id="body">
                <p>nilai 1 = <?= $nilai1 ?> </p>
                <p>nilai 2 = <?= $nilai2 ?> </p>

            </div>
        </div>

    </body>
</html>
